<div id="app">
    <div id="nav" class="shadow rounded" v-if="show">
        <div class="mt-1">
            <ul class="menu primary-color">
                <li>
                    <i class="fa fa-users"></i> Employee Portal
                </li>
            </ul>
        </div>
        <div class="mr-auto pl-1 pt-1" *ngIf="!authRoute">
            <ul class="menu">
                <li>
                    <a href="javascript:void(0);" (click)="navigateTo('home')">Home</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="navigateTo('user')">User</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="navigateTo('company')">Company</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="navigateTo('contact-us')">Contact us</a>
                </li>
            </ul>
        </div>
        <div class="ml-auto pr-4 pt-1" *ngIf="!authRoute">
            <ul class="menu">
                <li>
                    <i class="fa fa-sign-out pointer" aria-hidden="true" (click)="logout()">Logout</i>
                </li>
            </ul>
        </div>
    </div>
</div>